body{
  font-family: Arial, Verdana, sans-serif;
  background-color: white;
  margin: 20px 100px;
  height: 310px;
  width: 550px;
  padding: 0 0.5em 1em;
  border: 1px solid black;
}

header{
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
  margin: 0px;
  text-align: left;
}

h1{
  font-size: 18px;
  font-weight:normal;
  padding-top: 5px;
  padding-bottom: 1px;
}

#element 
{display:inline-block;margin-right:10px;
} 